$content-max-width: 1200px;
$breakpoints-mobile: 640;

@mixin media-mo() {
  @media (max-width: ($breakpoints-mobile+'px')) {
    @content;
  }
}

@mixin font($value) {
  @if($value =='sp') {
    font-family: 'SpoqaHanSansNeo-Regular';
  }

  // @if($value =='cc') {
  //   font-family: 'ChosunCentennial';
  // }
}
